################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Alam.BookStore/.vs/Alam.BookStore/v16
/Alam.BookStore/Alam.BookStore/obj
/Alam.BookStore/.vs/Alam.BookStore/config
